<div class="header">
    <div class="header-centering">
        @Html.Widget("header")
        <div class="header-logo">
            @Html.Action("Logo", "Common")
        </div>
        <div class="header-links-wrapper">
            @Html.Action("HeaderLinks", "Common")
            <div class="header-selectors-wrapper">

                    @Html.Action("TaxTypeSelector", "Common")

                    @Html.Action("CurrencySelector", "Common")

                    @Html.Action("LanguageSelector", "Common")

                @Html.Widget("header_selectors")
            </div>
        </div>
        <div class="search-box store-search-box">
            @Html.Action("SearchBox", "Catalog")
        </div>
    </div>
</div>